{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - LuBox </title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header>
            <h1><a href='/'>LuBox</a></h1>

            <img src="/static/img/luffy.jpg" alt="a luffy icon image"
            width=150px height=150px>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <section>
            {{template "body" .}}
        </section>
	<!-- adding footer-->
	{{template "footer" .}}
    </body>
</html>
{{end}}

