<!-- Eh dito que o template "base" sera usado, e o diretorio raiz eh o "." -->
{{template "base" .}}

{{define "title"}}Lu Home{{end}}

{{define "body"}}
<h2>Lastest LuObject</h2>
<p>Comming Soon</p>
{{end}}
